<!doctype html>
<html>
  <body>
    <div
      style="
        background-color: #f2f5f7;
        color: #242424;
        font-family: 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial,
          sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.15008px;
        line-height: 1.5;
        margin: 0;
        padding: 32px 0;
        min-height: 100%;
        width: 100%;
      "
    >
      <table
        align="center"
        width="100%"
        style="margin: 0 auto; max-width: 600px; background-color: #ffffff"
        role="presentation"
        cellspacing="0"
        cellpadding="0"
        border="0"
      >
        <tbody>
          <tr style="width: 100%">
            <td>
              <div style="padding: 24px 24px 24px 24px">
                <a
                  href="https://marketbase.app"
                  style="text-decoration: none"
                  target="_blank"
                  ><img
                    alt="Marketbase"
                    src="https://ik.imagekit.io/47zhisylvftkf/meet-o-studio/meet-co-logo_-ZohiIUc5.png?updatedAt=1716766987536"
                    height="60"
                    style="
                      height: 60px;
                      outline: none;
                      border: none;
                      text-decoration: none;
                      vertical-align: middle;
                      display: inline-block;
                      max-width: 100%;
                    "
                /></a>
              </div>
              <div
                style="
                  font-weight: bold;
                  text-align: center;
                  padding: 0px 24px 16px 24px;
                "
              >
                Message From {{name}}
              </div>
              <div style="font-weight: normal; padding: 0px 24px 16px 24px">
                Name: {{name}}
              </div>
              <div style="font-weight: normal; padding: 0px 24px 16px 24px">
                Email: {{email}}
              </div>
              <div style="font-weight: normal; padding: 16px 24px 16px 24px">
                Company: {{company}}
              </div>
              <div style="font-weight: normal; padding: 16px 24px 16px 24px">
                Phone: {{company}}
              </div>
              <div style="font-weight: normal; padding: 16px 24px 16px 24px">
                Message: {{message}}
              </div>
              <div style="font-weight: normal; padding: 16px 24px 16px 24px">
                Budget: {{budget}}
              </div>
              <div style="padding: 16px 24px 40px 24px">
                <img
                  alt="Illustration"
                  src="https://ik.imagekit.io/47zhisylvftkf/meet-o-studio/2751227_myktz0qDN.jpg?updatedAt=1718498795651"
                  style="
                    outline: none;
                    border: none;
                    text-decoration: none;
                    vertical-align: middle;
                    display: inline-block;
                    max-width: 100%;
                  "
                />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
